body{
    height: 80%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content-container{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column-left{
    width: 70%;
}
.column-right{
    width: 30%;
}

.logger{
    overflow-y: scroll;
}
.bg-warning{
    background-color: rgb(255,100,100);
    color: rgb(255,255,255);
}

.bg-success{
    background-color: rgb(150,255,150);
    color: rgb(255,255,255);
}

.mongodb-on{
    background-color: rgb(124,252,0);
    color: rgb(255,255,255);
}
pre {
    /*Credit to adambox StackOverflow*/
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    padding: 20px;
    overflow-y: scroll;
}