<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="./css/style.custom.angular.css" type="text/css" />
        
        <script type="text/javascript" src="./js/angular.min.js"></script>
        <script type="text/javascript" src="./js/mongo_admin.module.js"></script>
    </head>
    
    <body ng-app="MongoAdminApp">
        
        <div class="content-container">
            
            <div class="column-left">
                
                    <form id="form" data-model="file-model" ng-controller="formController">
                        
                        <input class="btn" id="file-model" type="file" input-file-model="files" required multiple>
                        <div class="btn-group">
                            
                            <button class="btn" id="create" create-schema="mySchema">
                                Create Schema
                            </button>
    
                            <select class="btn" id="file-controller" ng-model="data.model" input-file-list="myList">
                                <option>Preview file</option>
                                <option ng-click="clicked($event)" class="preview-input" id="{{file.id}}" ng-repeat="file in data.files" ng-value="file.obj">{{file.obj.name}}</option>
                            </select>
                        </div>
                        
                        <div class="btn-group" mongo-server="myServer">
                            <button class="btn bg-{{mongo.state}}" id="connect-db" ng-click="connect()">Database {{mongo.text}}</button>
                            <button class="btn bg-{{mongo.state}}" type="submit" id="update-btn">Update Database</button>
                            
                        </div>
                        <div class="p-2 mr-2 code" id="file-view" input-file-preview="myPreview">
                        </div>
                    </form>
                    
            </div>
            
            <div class="column-right">
                    
                <h4 class="text-center">Log</h4>
                
                <div class="stacked">
                    
                    <div class="logger stack" id="resText">
                        
                        <h6>Express Responses</h6>
                        
                    </div>
                    
                </div>
                
                <div class="stacked">
                    
                    <div class="logger stack" id="error-log">
                        
                        <h6>Javascript Errors</h6>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
    </body>
</html>